*{
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
    font-family: "PT Sans", sans-serif;
}

.container{
    border: 1px solid transparent;
    width: 1200px;
    margin: 0 auto;
}
.c-small{
    width: 890px;
}

.box{
    border: 1px solid transparent;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.col{
padding: 0 10px;
}

.btn {
    border: 1px solid transparent;
    border-radius: 15px;
    padding: 10px;
    cursor: pointer;
    font-size: 18px ;
}

.btn-white {
    background-color: white;
    color: #444444;
    border-radius: 15px;
}

.btn-blue {
    background-color: #0084fd;
    color: white;
}

ul, li{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.link{
    color: white;
    text-decoration: none;
    cursor: pointer;
    font-size: 18px;
}

img{
    width: 100%;
}

/* INIZIO HEADER */

header  {
    background-color:#0084fd;
    padding: 5px;
}
header .row  {
    display: flex;
    justify-content: space-between;
    margin: 15px 0px;
}
header .col:nth-last-child(1){
    display: flex;
    justify-content: flex-end;
}
header .box ul{
    margin-top: 10px;
    margin-right: 25px;
}

/* FINE HEADER */

/* INIZIO INFO */
.grow{
    flex-grow: 1;
}
#hero{
    background-color: white;
    margin-top: 50px;
}
#hero .col {
    margin-top: 30px;
    background-color: #b5ddff;
    margin-left: 8px;
    width: calc(100%/3);
    border-radius: 30px;
    display: flex;
}

#hero .box-t, .box-p, .box-button{
    margin-top: 40px;
    margin-bottom: 30px;
    margin-left: 20px;
}
#hero .box-image{
    margin-bottom: -393px;
    margin-right: 70px ;
    width: 100%;
} 
.title-hero{
    color: #0084fd;
    font-size: 30px;
    margin-top: 10px;
}
#hero p{
    line-height: 1.5;
    font-size: 20px;
    margin-top: 40px;
}

#hero .row:nth-child(1) .col:nth-child(2)  {
    display: block;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 5px;
}
#hero .row:nth-last-child(1) .col:nth-child(1) {
    display: block;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 5px;
    width: 370px;
}
#hero .row:nth-last-child(1) .col:nth-child(2) {
    display: block;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 5px;
}
#hero .row:nth-last-child(1) .col:nth-child(3) {
    display: block;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 5px;
}
.icon-title{
    font-size: 100px;
    color: blue;
}
/* FINE INFO */

/* INIZIO INFO */
#info{
    background-color: #9792e4;
}
/* FINE INFO */